<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Wishlist", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a href="/" style="color: inherit;">
                  <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" width="80" />
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item" href="/">
                    Wishlist
                  </a>

                  <a class="navbar-item" href="/admin">
                    Admin
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </section>
    </header>
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column is-3">
            <aside class="menu">
              <p class="menu-label">
                Administration
              </p>
              <ul class="menu-list">
                <li><%= link "Eventos", to: Routes.event_index_path(@conn, :index) %></li>
                <li><%= link "Regalos", to: Routes.gift_index_path(@conn, :index) %></li>
              </ul>
              <p class="menu-label">
                Extra
              </p>
              <ul class="menu-list">
                <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
                <% end %>
              </ul>
            </aside>
          </div>
          <div class="column is-9">
            <%= @inner_content %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
